:root {
  --bid-color: #7cc562;
  --ask-color: #f56565;
}

.order-book__row {
  display: flex;
}

.order-book__item {
  padding: 8px;
}

.order-book__item--price {
  width: 65%;
  position: relative;
}

.order-book__item--size {
  width: 35%;
}

.order-book__price--bid {
  color: var(--bid-color);
}

.order-book__price--ask {
  color: var(--ask-color);
}

.order-book__size-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.2;
}

.order-book__size-indicator--bid {
  background: var(--bid-color);
}

.order-book__size-indicator--ask {
  background: var(--ask-color);
}
